<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>工商银行</string>
		<key>bankId</key>
		<string>1002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>农业银行</string>
		<key>bankId</key>
		<string>1005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国银行</string>
		<key>bankId</key>
		<string>1026</string>
	</dict>
	<dict>
		<key>name</key>
		<string>建设银行</string>
		<key>bankId</key>
		<string>1003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招商银行</string>
		<key>bankId</key>
		<string>1001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邮储银行</string>
		<key>bankId</key>
		<string>1066</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交通银行</string>
		<key>bankId</key>
		<string>1020</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浦发银行</string>
		<key>bankId</key>
		<string>1004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>民生银行</string>
		<key>bankId</key>
		<string>1006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兴业银行</string>
		<key>bankId</key>
		<string>1009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平安银行</string>
		<key>bankId</key>
		<string>1010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中信银行</string>
		<key>bankId</key>
		<string>1021</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华夏银行</string>
		<key>bankId</key>
		<string>1025</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广发银行</string>
		<key>bankId</key>
		<string>1027</string>
	</dict>
	<dict>
		<key>name</key>
		<string>光大银行</string>
		<key>bankId</key>
		<string>1022</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京银行</string>
		<key>bankId</key>
		<string>1032</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宁波银行</string>
		<key>bankId</key>
		<string>1056</string>
	</dict>
</array>
</plist>
